# Environment variables
.env
.env.*
!.env.example

# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directories
dist/
build/

# macOS
.DS_Store

# Lock files
package-lock.json
